####################
# NPM

node_modules
npm-debug.log*
.pnpm-debug.log*


####################
# Build

dist/


####################
# Local

res/


####################
# Mac

.DS_Store


####################
# IDE

.idea


####################
