///////////////////////////////////////////////////////////////////////////////
/// Mixins

// Usage:
// +shima-mq("md")
//    width: 500px
shima-mq($bp)
	for $key, $val in $base-bp
		//p($key)
		if $bp is $key
			@media $val
				{block}

// Usage:
// absolute: top left
// absolute: top 5px left
// absolute: top left 5px
// absolute: top 5px left 5px
absolute()
	i = 0
	position absolute
	for j in (1..4)
		if length(arguments) > i
			{arguments[i]}: arguments[i + 1] is a "unit" ? arguments[i += 1] : 0
		i += 1

reset-list()
	margin 0
	padding 0
	list-style-type none

	li
		margin 0
		padding 0

reset-link()
	color inherit
	text-decoration none
	outline none


///////////////////////////////////////////////////////////////////////////////
